<div class="text-center"> 
  <h1> Blocitoff</h1>
  <h3> The perfect app for making your smart to do list!</h3>
  <%= link_to "Sign In", new_user_session_path, class: 'btn btn-info btn-large' %> or 
  <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-info btn-large' %> today!
  
</div>
